# `Python` in a nutshell: Part 1

## Table of Content

- [1. Landing on Planet Python](#III)
    * 1.1 [Motivation](#IIIa)
    * 1.2 [History](#IIIb)
    * 1.3 [What is an interpreted language?](#IIIc)
    * 1.4 [First steps](#IIId)
    * 1.5 [Arithmetic operators](#1.5-Arithmetic-and-comparison-operators) 
    * 1.6 [Container objects](#IIIe)
        - 1.6.1 [Lists](#I.6.1-Lists:)
        - 1.6.2 [Sets](#1.6.2-Sets:)
        - 1.6.3 [Tuples](#1.6.3-Tuples)
        - 1.6.4 [Lists, sets and tuple methods](#1.6.4-Lists,-sets-and-tuple-methods:)
        - 1.6.5 [Dictionnaries](#1.5.5-Dictionaries)
    * 1.7 [Control flow statements](#IIIg)
        - 1.7.1 `if` [statements](#1.7.1-if-statements)
        - 1.7.2 `for` [loops](#1.7.2-for-loops)
        - 1.7.3 `while` [loops](#1.7.3-while-loops)
        - 1.7.4 [List comprehensions](#1.7.4-List-Comprehensions)
    * 1.8 [Scripts and functions](Scripts_and_functions.ipynb)
    * 1.9 [Python coding recommendations](#IIIh)
    * 1.10 [Summary](#1.10-Summary)
    
- [References and additional material](#References-and-Additional-material:)

## 1. Landing on Planet Python <a class="anchor" id="III"></a>

### 1.1 Why should we learn `python` ? <a class="anchor" id="IIIa"></a>

Is it Yet Another Language ? No, this is, in my opinion, the most important programming language you should masterize before the end of your cursus. In the last (two) decade(s), `Python` became one of the most popular/used language in data science and in particular in astronomy. The reasons for this are rooted in several of the advantages of `Python`:
- Readability
- Flexibility
- High-level language
- Robust methods for binding with `C`, `C++` and `FORTRAN` libraries (speed, legacy)
- Growing number of libraries (coordinated by a very active community) and modules dedicated to specific scientific problems
- You can use basically one single scripting language for every task you may need to do in astronomy. 
- Data reduction for a growing number of space observatories are running in python. This is the case for ALMA ([CASA](https://casa.nrao.edu/) environment calls C/C++ programs within ipython), JWST (not yet launched but [data reduction tools](https://jwst.stsci.edu/observing-programs/data-analysis-toolbox) are develloped in python), `HST`, `Chandra` (there is `CIAO` modules for python), ... and many others. All the data reduction developped within iraf are available through `pyraf`. The only noticable exception remains `ESO` data reduction tools ... but `python` still allows you to analyze the data. So most of the time, you can *reduce* and *analyse* your data within the same environment ! You may even be able, some times, to query them through `python`.

If you are not yet convinced, I encourage you to have a look to this Nature paper (Nature 518, 7537) by J.M. Perkel http://www.nature.com/news/programming-pick-up-python-1.16833?WT.ec_id=NATURE-20150206  
The following quote from this paper summarizes what I have just said before: 
> " With the explosive growth of 'big data' in disciplines such as bioinformatics, neuroscience and astronomy, programming know-how is becoming ever more crucial. Researchers who can write code in Python can deftly manage their data sets, and work much more efficiently on a whole host of research-related tasks — from crunching numbers to cleaning up, analysing and visualizing data. Whereas some programming languages, such as MATLAB and R, focus on mathematical and statistical operations, Python is a general-purpose language, along the lines of C and C++ (the languages in which much commercial software and operating systems are written). As such, it is perhaps more complicated, Brown says, but also more capable: it is amenable to everything from automating small sets of instructions, to building websites, to fully fledged applications."

### 1.2 An (ultra-) brief history   <a class="anchor" id="IIIb"></a>

The inventor of this language is the Dutch programer Guido Van Rossum. It was conceptualized in the late 1980s. Guido van Rossum worked at that time in a project called Amoeba, a distributed operating system. He programmed in a language called ABC but was not fully happy with that language. 

Those more interested into the python history can look at the interview of Guido van Rossum by Bill Venners: https://www.artima.com/intv/  and at this presentation of the language by van Rossum: https://www.python.org/doc/essays/foreword/. 

In the latter one, you'll discover that the origin of the naming `Python` has nothing to do with the snake, but refers to the BBC show [Monty Python's Flying Circus](https://en.wikipedia.org/wiki/Monty_Python%27s_Flying_Circus)

### 1.3 Python is an interpreted language <a class="anchor" id="IIIc"></a>

What does it mean? Programming languages are generally categorized in two classes: *compiled* and *interpreted*. `python` may be seen as an *interpreted* language (although at some level it is *compiled*). One speaks of **compiled** language when a code is executed natively through the operating system after an operation, called *compilation* that converts the original code into a code natively understandable by the machine. *Instead*, when the code is evaluated line by line through another program (which is NOT the OS) which handles its execution (in principle this execution is done in a language natively understood by the machine, also called *low-level* language) via *interpretation*, one speaks of an **interpreted** language. 

Why is this important ? Although a given language often exists in different flavours/implementations that are either interpreted or compiled, the difference has an impact on the language properties. 

#### Advantages of interpreted language:
1. platform independence (you can easily transport a code from one machine to another
2. dynamic typing / flexibility (you do not have to do "compile/recompile/test/recompile" all the time !; you can run individual commands without writing a full script.)
3. ease of debugging (it is easier to get source code information in interpreted languages)
4. small program size (since interpreted languages have flexibility to choose instruction code)
5. automatic memory management    

#### Disadvantages of interpreted language: 
1. Speed
2. Speed
3. Speed

`Python` is effectively a (very) high-level language, which means that there is *a lot* of built-in data-types (and we will spend most of the remaining of this class to go though the most important ones: arrays, dictionnary, lists). This variety of data types is part of the reason why python became so popular as it can deal easily with many different kind of input/outputs. 

Examples of compiled/interpreted languages:    

| Name | Category |
|:-----|:---------|
| C/C++| Compiled |
| Fortran | Compiled |
| Perl | Interpreted |
| Python | Interpreted (but compiled to byte code) |
| MATLAB  | Interpreted |

### 1.4 First steps  <a class="anchor" id="IIId"></a>

*When do we start ?*  Now.    
We have two ways to run python, either interactively, or from scripts. *Interactive* use is favoured when you want to do small exploratory analysis, test part of codes, visualise some results, while scripts will be used in general to run (and re-run) more complex programs. For now, we will only use *interactive* mode, within `jupyter notebooks`. An overview of other ways for using python is outlined in this [Notebook](Scripts_IDEs_and_Jupyter.ipynb).

In [1]:
# Use this cell to experiment typing commands.
print("Hello")  # comment

Hello

In [2]:
# Note that the following also works
"Hello world! "

'Hello world! '

There is is general no need to declare a variable type before using it. Let's try the following `python` command:   

``` python
x = 10
x

Out[1]: 10
```

In [3]:
# try other commands 
x = 10

In [4]:
x

10

In [5]:
print(x)

10

It is important to note that in `python`, variables are *CASE sensitive*, so `x` and `X` refer to two *different* objects.

In [6]:
X = 3.2

In [7]:
print("x=", x, "X =", X)

x= 10 X = 3.2

You can also print the result of an operation and some text, separating the objects to be printed with `,`:
``` python
print('Result=', x/2) 

```

You have also a possibility to format the output (we'll see this in more details later):

``` python
print('Result= %.2f, %.i' %(x, x/2) )   # .2f = float with 2 digits ; .i = integer

```

In [8]:
print('Result=', x/2)

Result= 5.0

**Notes**: 
- If you use version 2 of python, you'll type `print "mytext"` , but with version 3 of python, you need to type `print("mytext")`. 
- Operations work as expected. Note however a difference of behaviour between python 2 and 3 for the DIVISION of two integers: it gives an integer (3/2 = 1) in python 2, but a float in python 3. To get a float, you can convert number into float (float(x) or add a `.` after integers to define them as floats (`3` is an integer but `2.` is a float).
- Unless `r` or `R` is preceding a string, escape sequences *in strings* are interpreted according to rules similar to standard `C`. The most common escape sequences are `"\n"` (adds a new line at the end of the string), `"\t"` (adds a tab), `"\b"` (Backspace). Note that typing in an interactive shell `Hello \n`, or print r`Hello \n` wont' have the same effect. When `r` or `R` is preceding the string, the backslash is left in the string. See https://docs.python.org/3/tutorial/introduction.html#strings for more details regarding string formatting. (We'll come back to strings and number formatting later).

#### Algebraic operations

The operators `+`, `-`,`*` and `/`work just like in most other languages. To take the power of a number, you should use `**`.

In [9]:
# Try it out 
2**3

8

In [10]:
2**2 + 5 / 100

4.05

The integer numbers (e.g. 2, 4, 20) have type `int`, the ones with a fractional part (e.g. 5.0, 1.6) have type `float`. You can know the type of a variable simply by typing: 
``` python 
my_variable = 2.
type(my_variable)

Out[]: float
```

In [11]:
my_variable = 2.
type(my_variable)

float

In [12]:
2.**3

8.0

In [13]:
5 / 100

0.05

#### Variable types

The main types of numbers are `float`, `int`, `complex`.   
By default, if you do not use the `.` after a digit, the variable will be an integer. It will otherwise be a float. 

##### Syntax: 

Explicit syntax: 

``` python 
# complex
complex([real[, imag]])
# Float
float(number)
# Integer
int(number)
```

Implicit syntax:   
``` python
# complex
c = real + imaginary * j
# float
f = 3.
# integer
i = 3
```

In [14]:
c = 4 +7j
print(type(c))
print(c)

<class 'complex'>
(4+7j)

In [15]:
c1 = complex(4,7)
print(type(c1))
print(c1)

<class 'complex'>
(4+7j)

In [16]:
c+c1

(8+14j)

You can convert a float to an integ

In [17]:
int(8.2)

8

`Boolean` is another important variable type. 

```python 
False = bool(0)
True = bool(1)
# implicit definition
b = True
```

In [18]:
bool(1), bool(0)

(True, False)

#### The `None` keyword

The `None` keyword is used to define a null value, or no value at all.
None is **not** the same as `0`,  `False`, or an `empty` string. `None` is a data type of its own (`NoneType`) and only `None` can be `None`.

In [19]:
a = None
type(a)

NoneType

### 1.5 Arithmetic and comparison operators

On top of the 4 classical operations, modulus division is `%`, floor division is `//` and exponent is `**`. The following table summarizes the different operations. 

In the following examples, `a=10`, `b=20`.

|Operator 	| Name | Description |	Example   |
|-----------|-------|------|-----------|
| `+` | Addition 	| Adds values on either side of the operator. | 	`a + b = 30`  |
| `-` | Subtraction |	Subtracts right hand operand from left hand operand. |	`a – b = -10` | 
| `*` | Multiplication |	Multiplies values on either side of the operator  |	`a * b = 200` | 
| `/` | Division 	| Divides left hand operand by right hand operand |	`b / a = 2` |
| `%` | Modulus 	| Divides left hand operand by right hand operand and returns remainder |	`b % a = 0` | 
| `**` | Exponent |	Performs exponential (power) calculation on operators |	`a**b =` $10^{20}$ |
| `//` | Floor Division | The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity) | 	`9//2 = 4` and `9.0//2.0 = 4.0`, `-11//3 = -4`, `-11.0//3 = -4.0` |

Comparison operators are like in `C` programming language.    


|Operator 	| Description |	Example |
|-----------|-------------|---------|
|`==` | 	If the values of two operands are equal, then the condition becomes true. |	`(a == b)` is False |
| `!=` |	If values of two operands are not equal, then condition becomes true. 	| `(a != b)` is True. |
| `>` 	| If the value of left operand is greater than the value of right operand, then condition becomes true. | 	`(a > b)` is False. | 
| `<` 	| If the value of left operand is less than the value of right operand, then condition becomes true. 	| `(a < b)` is True. | 
| `>=` 	| If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.| 	`(a >= b)` is False. | 
| `<= `|	If the value of left operand is less than or equal to the value of right operand, then condition becomes true. 	| `(a <= b)` is True.|

In [20]:
# Try out the operators 
a = 3.2
b = 3. 
c = 3.2 
print('a = ', a, 'b = ', b, 'c = ', c)
print(' a != b:', a != b, '\n a == c:', a == c,  '\n a <= c:', a <= c)

a =  3.2 b =  3.0 c =  3.2
 a != b: True
 a == c: True
 a <= c: True

### 1.6 Container Objects  <a class="anchor" id="IIIe"></a>

Besides strings, and numeric variables (floats, integer), there is in python a variety of container types. These containers include **lists**, **tuples**, **sets** and **dictionaries**

#### 1.6.1 Lists: 

A list is an *ordered* sequence of objects that can be accessed by item indexing via square brackets `[ ]`. In python, indexing **is always zero-based**, i.e. the first index of a list (but this is also true for arrays -that we will study later-) is zero.

**Example:**
``` python
L = [1,2,3,4]
L[0] 
    Out: 1
L[2]
    Out: 3
```

An important characteristic of lists is that they can include objects of *various types*, including other lists. 

**Example:**
``` python
L2 = [1., L, 'hello world']
L2[2]
    Out: 'hello world'
```

In [2]:
L = [1,2,3,4]
L2 = [1., L, 'hello world']
L2[2]

'hello world'

To access several elements of a list/a sublist, this is called **index slicing**, you can use the semicolon `:`. The slicing can work in various ways:   
**Example:**
``` python
L[0:2]   # First two elements of a list  ; note that item with index #2 is EXCLUDED
L[:2]    # First two elements, 0 is implicit
L[::2]   # every 2 elements (from the first one with index 0)
L[-2:]   # Last two items 
L[i:]    # From the item i until the end (last entry is implicit). No error message if i > len(L) 
L[::-1]  # All items in reverse order
    
```
List can be generated also using the function list()

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of n characters has index n, for example:
``` python
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```
The first row of numbers gives the position of the indices 0...6 (hereabove, in the string `'python'`); the second row gives the corresponding negative indices. The slice `[i:j]` from `i` to `j` consists of all characters between the edges labeled `i` and `j`, respectively.  

By calling item \# i, one gets the item at the right side of i. This is why calling item `n` of a list or string or (...) of size `n` will result an error message: there is no item on the right side of position `n` (n=6 in the example above).   

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. 


**Notes**: 
- A list is an *[iterable](https://docs.python.org/2/glossary.html#term-iterable)*, which means that one can iterate over the elements of a list. (`list.__iter__()`, `enumerate(list)`). This also means that there is special *methods* that allow you to get e.g. its length (`list.__len__()` or `len(list)`). 
- Contrary to a `string`, a `list` is mutable, which means that you can replace values of elements, or even clear elements of a list. For example `L[2:4] = []`, will clear elements \#2 and \#3 of list `L`.    
- *Slicing* in `python` works for any *[sequence](https://docs.python.org/2/glossary.html#term-sequence)* type  object. This includes built-in iterables (i.e. `string`, `list`, `tuple`), but also non iterable objects such as `dict` whose length can also be accessed with method `len()`.

[0, 2, 4]

In [5]:
# use this cell to experiment with lists as described in the above examples, 
# and experiment with the various ways to slice through a list as described above
L = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
L[0:6]

[0, 1, 2, 3, 4, 5]

In [6]:
# Slicing with step
L[0:6:2]

[0, 2, 4]

In [11]:
# Slicing with reversed order
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [15]:
L[::3]

[0, 3, 6, 9]

In [12]:
# Slicing of a list of strings 
LofS = ['a', 'b', 'c', 'd']
LofS[0:3]

['a', 'b', 'c']

In [14]:
# Slicing for a single string (i.e. not a list)
L_single_string = 'Python'
single_string[0:3]

'Pyt'

In [17]:
# List is an iterable 
L = ['P', 'y', 't', 'h', 'o', 'n']
for ll in L:
    print(ll)

P
y
t
h
o
n

In [16]:
# The way most of you are used to iterate over elements works as well 
for i in [0,1,2,3,4,5]:
    print(L[i])

0
1
2
3
4
5

#### 1.6.2 Sets:

A **set** is a bit like a list BUT its elements are **unordered** and **unique** (no repetition).  
A set is built using the function `set([])`

**Example:**
``` python 
S = set([1,1,2,4,3,5])

S = {1,1,2,4,3,5}  # Another way to define a set object !
```
Use the cell below to see the output of `set` (`set` did not exist before python 2.6)

In [20]:
# Example of set defined using set()
S = set([1,1,2,4,3,5])
S

{1, 2, 3, 4, 5}

In [21]:
# Implicit definition with {} 
S2 = {1,1,2,4,3,5}

In [22]:
# Show that set is not subscriptable 
S[2]

TypeError: 'set' object is not subscriptable

#### 1.6.3 Tuples

Tuples are similar to lists but they are separated by parentheses `( )` instead of square brackets `[ ]`.   
They support indexing and slicing like lists. However, Tuples (like strings) are **immutable**, which means that once they are created, the items cannot be changed. 

**Example:**
``` python
L = [1,2,3,4]  # this is a List
T = (1,2,3,4)  # this is a Tuple
```

In [23]:
# Define a tuple 
T = (1,2,3,4)  
T

(1, 2, 3, 4)

In [24]:
type(T)

tuple

In [27]:
# Create a list of length 5, and assign a value to item #2. 
# Do the same with a tuple. What is the difference ? 
L = [1, 2, 3, 4, 5]
L[2] = 56
L

[1, 2, 56, 4, 5]

In [28]:
T = (1, 2, 3, 4, 5)
T[2] = 56
T

TypeError: 'tuple' object does not support item assignment

#### 1.6.4 Lists, sets and tuple methods:

There are many operations that can be done on lists, sets and tuples and that you may want to do very soon.

- Add and remove elements from a list:
``` python
L.append(5) # Append an object at the end of a list
L.insert(3, 'q')  # insert a string "q" at location 3. 
L.pop()     # Removes last object (or object at a specified index) of a list
L.extend([6,8])  # Extend list, 'in-place'
```
- Concatenate and repeat lists:
``` python
L + L     # Concatenation
    Out: [1,2,3,4,1,2,3,4]
2 * L     # Repetition
    Out: [1, 2, 3, 4, 1, 2, 3, 4]
```
- Sort elements of a list:

``` python
L.sort()   # sort in-place

```

- Conversion of lists to other types:
	* Convert list to a tuple (Remember that tuple are immutable -> cannot be changed !):   
        `tuple(mylist)` 
	* Convert list to set: (set is a unordered collection of unique items => duplicates are LOST!)    
        `set(mylist)`
    * Convert list of strings to strings:    
        `''.join(Ls)`  

**Notes**: 
- For a more exhaustive overview of the methods applicable to lists, consult the [Data Structure section](https://docs.python.org/2/tutorial/datastructures.html#more-on-lists) of the Python tutorial.
- Convert list of integers to strings:
    ``` python
        listOfNumbers = [1, 2, 3]
        strOfNumbers = ''.join(str(n) for n in listOfNumbers)
	```

In [29]:
L.append(4)
L

[1, 2, 56, 4, 5, 4]

In [72]:
# Experiment with list and tuple methods 
L.insert(3, 'q')
L

[1, 2, 56, 'q', 'q', 4, 5, 4]

In [45]:
# Create a list of 6 integers, remove the 3rd one. Add a list of 2 strings. 
L_of_int = [0,1,2,3,4,5]
L_of_int.pop(2)
print(L_of_int)
# Then use L.append(9) and L.extend([17, 24]) and compare the output at each step

[0, 1, 3, 4, 5]

In [46]:
# Add a list of 2 strings.
L_of_int.append(['s1', 's2'])
L_of_int

[0, 1, 3, 4, 5, ['s1', 's2']]

In [47]:
L_of_int.extend(['s4', 's8'])
L_of_int

[0, 1, 3, 4, 5, ['s1', 's2'], 's4', 's8']

In [48]:
L_of_int[5]

['s1', 's2']

In [49]:
L_of_int[5][0]

's1'

In [53]:
# 
L2 = [8, 9, 10]
L3 = L + L2 
print(L3)

[1, 2, 56, 'q', 4, 5, 4, 8, 9, 10]

In [55]:
2 * L2

[8, 9, 10, 8, 9, 10]

In [64]:
L_of_int2 = [0, 4, 2, 13, 48, 3, 2]
L_of_int2.sort(reverse=True)

In [65]:
L_of_int2

[48, 13, 4, 3, 2, 2, 0]

In [63]:
help(L_of_int2.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [58]:
TT = tuple(L_of_int2)
TT

(0, 2, 2, 3, 4, 13, 48)

#### 1.6.5 Dictionaries

Another common built-in `Python` object is the **dictionary**. The dictionnary stores unordered sequence(s) of key-value pairs. It is defined using curly brackets `{ }`, and like lists allows mixing of types. It is a bit like a `list` for which each element has a label such that you can access this element by its label instead of accessing it by its position.    
**Example:**
``` python
D = {'one': 1, 'two': 2, 'three': 3, 'four': L}  # L is a list as defined above
D['two']
    Out:  2
D = dict(one=1, two=2, three=3, four=L)  # Another way to create a dictionary 
```

Dictionaries are often found as input/outputs of built-in or contributed functions. They work in fact behind the scene when you define new variables that you use within an `ipython` or `juPyter` session. You may have a look behind the curtain by calling `globals()` in the code-cell below. 

Also a dictionnary is NOT an iterable, you can get its lenght using the method `len().

In [69]:
# Use this cell  to play with dictionaries
D = {'one': 1, 'two': 2, 'fun': 'python', 'a list': L}

In [70]:
D['one']

1

In [71]:
D['fun'], D['a list']

('python', [1, 2, 56, 'q', 4, 5, 4])

In [73]:
D['fun'], D['a list']

('python', [1, 2, 56, 'q', 'q', 4, 5, 4])

In [75]:
# globals()

#### Exercises on data structure

In [76]:
# (1) Define a variable x, give it a value and print its value on screen 
x =2.45
print('x =', x)

x = 2.45

In [77]:
# (2) Can a list contain different types of objects / elements of different types ? Illustrate with an example 
L_new = [1, 'a', 3.]
L_new

[1, 'a', 3.0]

In [78]:
# (3) Can a 'dictionary' contain elements of different types ? Illustrate with an example 
D = {'My list': L_new, 'My string': 's', 'A float': 4.24}
D

{'My list': [1, 'a', 3.0], 'My string': 's', 'A float': 4.24}

In [79]:
# (4) Can a 'tuple' contain elements of different types ? Illustrate with an example 
T = (1, 35., L_new)
T

(1, 35.0, [1, 'a', 3.0])

In [81]:
# (5) create a list of 3 color names and print it at the screen
# (5b) insert a new color as 2nd list element
my_colors = ['blue', 'red', 'green']
print(my_colors)
my_colors.insert(1, 'orange')
print(my_colors)

['blue', 'red', 'green']
['blue', 'orange', 'red', 'green']

In [105]:
# (6) Create two lists L1 and L2 containing 3 elements each. "Append" L1 to L2 and save the results in a third list L3 of 6 elements (i.e. containing elements of L1 and L2)
L1 = [1, 4, 5]
L2 = [6, 8, 10]
L3 = L2 + L1
L3

[6, 8, 10, 1, 4, 5]

In [106]:
# Warning APPEND would change the list in place ... and you cannot save it into another list
L4 = L2.extend(L1)
print(L4, L2)

None [6, 8, 10, 1, 4, 5]

### 1.7 Control flow statements:     <a class="anchor" id="IIIg"></a>
Based on http://www.ster.kuleuven.be/~pieterd/python/html/pure_python/control_flow.html

#### 1.7.1 if statements

The basic syntax for an if-statement is the following:
``` python 
if condition:
    # do something
elif condition:
    # do something else
else:
    # do yet something else
```

Notice that there is no statement to end the `if` statement. Beware of the presence of a colon (:) after each control flow statement. Python relies on indentation and colons to determine whether it is in a specific block of code. For example, in the following example:

``` python 
if a == 1:
    print("a is 1, changing to 2")
    a = 2
print("finished")
```

The first print statement, and the `a = 2` statement only get executed if a is 1. On the other hand, `print("finished")` gets executed regardless, once Python exits the if statement.

The conditions in the statements can be anything that returns a boolean value. For example, `a == 1`, `b != 4`, and `c <= 5` are valid conditions because they return either `True` or `False` depending on whether the statements are true or not. Standard comparisons can be used (`==` for equal, `!=` for not equal, `<=` for less or equal, `>=` for greater or equal, `<` for less than, and `>` for greater than), as well as logical operators (`and`, `or`, `not`). Parentheses can be used to isolate different parts of conditions, to make clear in what order the comparisons should be executed, for example:

``` python
if (a == 1 and b <= 3) or c > 3:
    # do something
```

More generally, any function or expression that ultimately returns `True` or `False` can be used.

Along with comparisons, another commonly-used operator is `in`. This is used to test whether an item is contained in any collection:

``` python
b = [1, 2, 3]   
2 in b   
    Out: True   
5 in b   
    Out: False
```

If `b` is a dictionary , this tests that the item is a key of `b`.

In [108]:
a = 3 
if a == 1:
    print("a is 1, changing to 2")
    a = 2
print("finished")

finished

In [ ]:
# Try value in b with different kind of containers (i.e. list, set, tuple, dictionnary)

In [110]:
a, b, c = 1, 4, 7
if b > 3: 
    c = b+1
c

5

In [111]:
b > 3

True

In [ ]:
if b is None

Most of the time, the above comparators will suffice for defining your `if` statement. There are however a few cases where this is not enough. To test if a variable is `True`, `False` or of type `NoneType` or if two variables are the same object, you should use the identity check reserved keyword `is` (or `is not`). This keyword enables one to check if two variables are the same object or if a boolean is `True` / `False`. 

``` python 
n = None 
if n is None:
    print('n is None')

Out[]: 'n is None'
    
b = True
if b is not False:
    print('b is True')

Out[]: 'b is True'

x = [1]
y = x
if x is y:
    print('x and y are the same object')
```

In [112]:
n = None 
if n is None:
    print('n is None')

n is None

In [113]:
b = True
if b is not False:
    print('b is True')

b is True

In [114]:
if type(b) is bool:
    print('b is a boolean')

b is a boolean

In [115]:
n = None 

if n:
    print("Do you think None is True?")
elif n is False:
    print ("Do you think None is False?")
else:
    print("None is not True, or False, None is just None...") 

if n is None:
    print('n is of NoneType')

None is not True, or False, None is just None...
n is of NoneType

In [116]:
x = [1]
y = x
if x is y:
    print('x and y are the same object')

x and y are the same object

#### 1.7.2 `for` loops

The most common type of loop is the `for` loop. In its most basic form, its synthax is straightforward:

``` python
for value in iterable:
    # do things
```

The iterable can be any `Python` object that can be iterated over. This includes `lists`, `tuples`, `dictionaries`, `strings`. ``

In [117]:
# Try this out
mystring = 'Python'
for s in mystring:
    print(s)

P
y
t
h
o
n

In [118]:
for i in [0,2,3,56]:
    print(i)

0
2
3
56

In [119]:
# For loop can loop over any iterable (i.e. not integers)
a = 0 
for i in range(5):
    a = a+1
    print('i=', i, ': a=', a)

i= 0 : a= 1
i= 1 : a= 2
i= 2 : a= 3
i= 3 : a= 4
i= 4 : a= 5

A common type of for loop is one where the value should go between two integers with a specific set size. To do this, we can use the `range` function. If given a single value, it will give a sequence ranging from 0 to the value minus 1:

``` python
range(10)
    Out: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]  # Warning, it is not a list
range(3, 12)   # 3 and 12 are the starting and one plus the ending value
    Out: [3, 4, 5, 6, 7, 8, 9, 10, 11]  # Warning, it is not a list
range(2, 20, 2)  # the third number, if specified, is taken to be the step size
    Out: [2, 4, 6, 8, 10, 12, 14, 16, 18]  # Warning, it is not a list
``` 

The range function can be used as the iterable in a for loop. `range` is not a list (in python 3), but a specific object.

In [120]:
# Use for loop to print at the screen the elements of a list that contains both integers and strings. 
# Try to do it using range and try again without looping over the indices / using range
L_of_i_and_s = [1, 4, 'aba', 'cbd', 8]
for l in L_of_i_and_s:
    print(l)

1
4
aba
cbd
8

In [121]:
# using range
for i in range(5):
    print(L_of_i_and_s[i])

1
4
aba
cbd
8

To iterate over elements of a list and also get in return the indices of these elements in the list, you may use `enumerate`.
``` python
for i, item in enumerate(L): 
    print('i=', i, ' : L = ', item)
```

In [123]:
# What you might be used to 
i = 0
for l in L_of_i_and_s:
    if type(l) == str:
        print('my string is', l, 'is id ', i)
    i = i + 1

my string is aba is id  2
my string is cbd is id  3

In [124]:
# Saving two lines of code with enumerate
for i, l in enumerate(L_of_i_and_s):
    if type(l) == str:
        print('my string is', l, 'is id ', i)

my string is aba is id  2
my string is cbd is id  3

You can also iterate over elements of 2 lists (of the same length) in parallel using `zip()`
``` Python
L1, L2 = range(4), range(10,14)
for l1, l2 in zip(L1, L2): 
    print('l1=', l1, 'l2=', l2)
```

In [126]:
R1, R2 = range(4), range(10,14)
for r1, r2 in zip(R1, R2): 
    print('r1=', r1, 'r2=', r2)

r1= 0 r2= 10
r1= 1 r2= 11
r1= 2 r2= 12
r1= 3 r2= 13

#### 1.7.3 `while` loops

Python also provides a `while` loop which is similar to a for loop, but where the number of iterations is defined by a condition rather than an iterator:

``` python 
a = 0
while a < 10:   # a < 10 is the condition
    print(a)    # This line is the first "looping block
    a += 1      # This line is the second "looping block"

```

In [127]:
# Visualize the output of the above code
a = 0
while a < 10:   # a < 10 is the condition
    print(a)    # This line is the first "looping block
    a += 1      # This line is the second "looping block"

0
1
2
3
4
5
6
7
8
9

#### 1.7.4 List Comprehensions

This is very useful and often overlooked by beginners ... this is however very efficient and quite "pythonic" to use list comprehension. ** When possible try to favor list comprehensions over the use of `for` loops **.
A common programming structure when assigning values to a list is the following:

```python
l = []                      # create the list
for i in range(10):
    l.append(i**2)
```

List comprehensions provide a shorter and more readable way of writing the same loop:

``` python
l = [i**2 for i in range(10)]
```

In [130]:
# Write a list comprehension that creates a list of 10 odd numbers
# For loop approach 
l = []                      # create the list
for i in range(1, 10):
    l.append(i**2)

In [131]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
# Same with a list comprehension
l2 = [i**2 for i in range(1, 10)]

In [133]:
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Note:** `and`, `or` are boolean operators. `&`, `|` are the equivalent bitwise operator. The difference is that boolean operators are used on boolean values (i.e. the two expression that are compared should be boolean) while `&` and `|` are generally used on integer values (they just compare the bits and so work at a low level). This means that: boolean operators evaluate the first operand for its truth value, and depending on that value, either evaluate and return the second argument, or don't evaluate the second argument and return the first. In other words, the `and` operator works like: ``` x and y => if x is false, then x, else y ```  
For that reason we will have the following behaviour: 
``` Python
mylist1 = [True,  True,  True,  False,  True]
mylist2 = [False, True, False,  True, False]  

# ---- Example 1 ----  Boolean comparison, each elements of the list are compared pair-wise
>>>mylist1 and mylist2 
[False, True, False, True, False]
# You would have expected [False, True, False, False, False]
# However as explained above
# something_true and x -> x
# something_false and x -> something_false
```
Another important thing to keep in mind is that empty built-in object is treated as logically `False`. This means that:
``` Python
if []:
    print('True')
    >>> # Returns nothing
    
if [False]:
    print('True')
    >>> 'True'
```
Finally, the comparison of 2 lists of booleans, as defined above, with bitwise operator will raise an error because bitwise operations work only on numbers (or conversion of objects to bits, e.g. a string): 
``` python
# ---- Example 2 ----  Comparison of the 2 lists with bitwise operators
mylist1 & mylist2 
TypeError: unsupported operand type(s) for &: 'list' and 'list'

```

See [here](https://stackoverflow.com/questions/22646463/difference-between-and-boolean-vs-bitwise-in-python-why-difference-i) for more detailed explanation of those subtelties and use of bitwise operators with numpy arrays (that we will introduce later).

In [ ]:
if []:
    print('True')

if [False]:
    print('True')

In [ ]:
mylist1 = [True,  True,  True,  False,  True]
mylist2 = [False, True, False,  True, False]  

mylist1 and mylist2

In [ ]:
mylist1 & mylist2

## 1.8 Scripts and Functions

Now that we are familiar with basic syntax, variables, and containers, we will see how to group command lines to run them all at once. This can be done thanks to what is called a `function`. Second, we will also see how to run python outside a Jupyter notebook and manage scripts. 

The Notebook [Scripts_and_functions.ipynb](Scripts_and_functions.ipynb) explains those aspects.

## 1.9 A brief summary of the Python coding recommendations    <a class="anchor" id="IIIh"></a>

From Official `Python` doc https://docs.python.org/3.8/tutorial/controlflow.html   
The full style guide for python coding: https://www.python.org/dev/peps/pep-0008/

- Use 4-space indentation, and no tabs.
- 4 spaces are a good compromise between small indentation (allows greater nesting depth) and large indentation (easier to read). Tabs introduce confusion, and are best left out.
- Wrap lines so that they don’t exceed 79 characters. This helps users with small displays and makes it possible to have several code files side-by-side on larger displays.
- Use blank lines to separate functions and classes, and larger blocks of code inside functions.
- When possible, put comments on a line of their own.
- Use docstrings.
- Use spaces around operators and after commas, but not directly inside bracketing constructs: `a = f(1, 2) + g(3, 4)`.
- Don’t use fancy encodings if your code is meant to be used in international environments. Plain ASCII works best in any case.

## 1.10 Summary


We have seen that `python` is a multi-paradigm language, namely both *interpreted* and *compiled*. This is the reason why it is very versatile, portable and powerful.  
We have learned about: 
- The main variable types (`int`, `float`, `string`, `complex`), but also the `None` keyword (the unique member of the type `NoneType`) 
- The main built-in structures: `list`, `tuple`, `dictionary`, `set`
- The importance of indentation in writing code, especially when defining a `function`, create `loops`, set `conditions`. 
- We have seen that there is in general no need to pre-declare a variable, nor its type. However, one should be careful that *numbers not followed by a .* are interpreted as integers, but are float otherwise. This can generate bugs as the division of 2 integers is an integer (in python 2.7, not for version > 3). 
- We have been introduced to [iterables](https://www.pythonlikeyoumeanit.com/Module2_EssentialsOfPython/Iterables.html) (lists, tuples, sets, dict) and found out tha one can iterate over their elements via a for loop. 
- We are getting familiar with slicing through lists, and realise that the *first index* of a sequence is *zero*. 
- We have seen that it is very easy to add documentation to a function using triple quotes """
- We have learned how to write `list comprehensions` ( [ x+1 for x in L] ) to increase speed and improve readability.

## References and Additional material:  

**Appendix A** of the book *Statistics, data mining and Machine learning in astronomy* by Z. Ivezic et al. in Princeton Series in Modern Astronomy.  

Other useful references to know more about the topics covered in this class: 

* Introduction to python and solid references:  
    - An Introduction to Python - The Python Tutorial by Guido van Rossum (python creator) and Fred L. Drake, Jr. https://docs.python.org/3/tutorial/index.html
    - Python for astronomers course http://python4esac.github.io/  written by Tom Aldcroft, Tom Robitaille, Brian Refsdal, Gus Muench (Copyright 2011, Smithsonian Astrophysical Observatory; Creative common license), but also http://python4astronomers.github.io/.
    - Visual way to see how a code is running and how objects are called and filled  http://www.pythontutor.com/visualize.html#mode=edit
    - Concise overview of python capabilities (containers, variable types, operators, ...): https://www.tutorialspoint.com/python/index.htm
    - Style guide for python coding: https://www.python.org/dev/peps/pep-0008/
    - args and kwargs: https://realpython.com/python-kwargs-and-args/
    
* Jupyter Notebooks: 
    - General: https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook#gs.HoI=454
    - Syntax: https://guides.github.com/features/mastering-markdown/     
       
* About interpreted/compiled language:   
    - General: https://thesocietea.org/2015/07/programming-concepts-compiled-and-interpreted-languages/